{% extends "base.html" %}

{% block tab_title %}
    Crear Dado
{% endblock tab_title %}

{% block h1_header %}
    Crear Bolsa
{% endblock h1_header %}

{% block masthead_subheading %}
<form action="" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Crear">
</form>
{% endblock masthead_subheading %}

{% block main %}

{% endblock main %}

{% block h2_second_section %}
    
{% endblock h2_second_section %}

{% block h2_about %}
    
{% endblock h2_about %}

{% block paragraph1_about %}
    
{% endblock paragraph1_about %}

{% block paragraph2_about %}
    
{% endblock paragraph2_about %}